In [2]:
import numpy as np
import pandas as pd
import os

In [14]:
def merge(datasets):
    new_datasets = []
    i = 1
    for data in datasets:
        df = pd.read_csv('data/' + data, low_memory=False)
        print("dataset", i, "read")
        data = df[['Issue Date', 'Violation Precinct', 'Meter Number']]
        final_df = data[~data['Meter Number'].isnull()]
        new_datasets.append(final_df)
        print("dataset", i, "appended")
        i += 1
        
    return_df = new_datasets[0]
    for data in new_datasets[1:]:
#         temp_df = pd.read_csv('data/' + data)
        return_df = pd.concat([return_df, data])

#     df.head()

    return(return_df)

In [15]:
datasets = os.listdir('data')
df = merge(datasets)
df.head()

dataset 0 read
dataset 0 appended
dataset 1 read
dataset 1 appended
dataset 2 read
dataset 2 appended
dataset 3 read
dataset 3 appended

   Issue Date  Violation Precinct Meter Number
0  08/04/2013                33.0            -
1  08/04/2013                33.0            -
2  08/05/2013                33.0            -
3  08/05/2013                33.0            -
4  08/08/2013                33.0            -

In [16]:
df.to_csv("test.csv")

In [17]:
df["Issue Date"] = pd.to_datetime(df["Issue Date"])
grouped_df = df.groupby(["Violation Precinct", "Issue Date"]).size().reset_index(name="count")
grouped_df.head()

   Violation Precinct Issue Date  count
0                 0.0 2000-01-08      1
1                 0.0 2000-01-15      1
2                 0.0 2000-02-02      1
3                 0.0 2000-02-25      1
4                 0.0 2000-03-10      1

In [18]:
grouped_df["day"] = grouped_df["Issue Date"].dt.day
grouped_df["month"] = grouped_df["Issue Date"].dt.month
grouped_df["year"] = grouped_df["Issue Date"].dt.year
grouped_df["dayofweek"] = grouped_df["Issue Date"].dt.dayofweek

In [24]:
grouped_df = grouped_df[(grouped_df['year'] > 2012)]
grouped_df['Violation Precinct'] = grouped_df['Violation Precinct'].astype(int)
grouped_df = grouped_df[['Violation Precinct', 'Issue Date', 'count', 'day', 'month', 'year', 'dayofweek']]

In [27]:
grouped_df.to_csv("final_dataset.csv", index=False)